<footer id="footer">
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          © Copyright All Rights Reserved Designed by <a href="http://koogle.cc">KoogleZhang</a>
        </div>
      </div>
    </div>
  </div>
</footer>