default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: '~hxZ520677'
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: videos_deve

test:
  <<: *default
  database: kupper_test
