/*
 *= require lte/css/font-awesome
 *= require lte/css/ionicons
 *= require nprogress
 *= require particles
 *= require animation
 *= require videoback
 *= require cropbox
 */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}