video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: asset_url('sources/Yasuo.jpg') no-repeat;
  background-size: cover;
}